RewriteEngine On
RewriteBase /

# Skip existing files, dirs, links
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

# Redirect all to routes.php
RewriteRule ^(.*)$ src/config/routes.php [QSA,L]
